/* $CwuRes: src/regi/www/webapps/rnreg/web/CSS/execsearch.css,v 1.1 2018/10/10 19:01:04 alvisoj Exp $ */
#page{background:url('/hr/sites/all/themes/cwuthemev2/images/transparent-cat.png') no-repeat -260px 450px #FFF;}

h2 a.site-name{}
#breadcrumbs{margin-left:25px;}
#emergency-ticker{display:none;}
#site-name{padding-left:25px!important;}
#header{background-image:url("/hr/sites/all/themes/cwuthemev2/images/header-gradient-bar.png")repeat-x!important;}


/*Global styles*/
body{margin:0;font:12px/1.4 Helvetica,Arial,sans-serif;color:#555;}
h2,p,ol,ul{margin:0;padding:0;}
p{padding-top:3px;margin-bottom:10px}

video{background-color:#000;border:1px solid #CCC;}
a{text-decoration:none}
a:link{text-decoration:none;color:#A00}
a:visited{color:#A00}
a:hover{color:#999}
.views-table{border:1px solid #BEBFB9}
.indent{margin-left:15px}
table {border-collapse:collapse;border:none}
table .odd{background-color:#FFF}
table .even{background-color:#F3F4EE}
table th{background-color:#CCC;border:1px solid #BEBFB9;padding:1px 4px}
table td{padding:1px 4px;border:none;}
table.lined tr:nth-child(even){background-color:#F3F4EE}
#content h1{font-size:20px;margin:8px 0 10px}
#content h2{font-size:1.6em;margin:6px 0 8px;display:none;}
#content h3{font-size:1.3em;margin:6px 0 8px}
#content h4{font-size:1.1em;margin:5px 0 6px}
#content h5{font-size:1em;margin:5px 0 6px}
#content h6{font-size:.8em;margin:2px 0 2px}
#content h7{font-size:.8em;margin:4px 0 4px}
#content ul{margin: 12px 12px 12px 26px}
#content ul ul{margin:4px 0;padding:0 0 0 15px}
#content li{padding:1px 0 3px 8px}
#content table.noborders td,#content table.noborders th{border:none}
#content table.noborder td,#content table.noborder th{border:none}
#content table.border, #content table.border td,#content table.border th{border:1px solid #000}
#content tbody {border:0}
#content .vertical-tabs{margin:0}
#content blockquote{background-color:#EEE;border:1px solid #AAA;font-weight:bold;font-style:italic;margin:20px 0;padding:20px}
#content .tabs li{padding:0;margin:0 2px}
#content .tabs li a{padding:1px 4px;margin:0}
#content table[border="1"] td,#content table[border="1"] th{border:1px solid #000}


/*Layout*/
#wrapper{min-width:960px;margin:0px auto 0px!important;overflow:hidden;z-index:104;background:url('/hr/sites/all/themes/cwuthemev2/images/masthead-exe-search.png') no-repeat left top;}
#banner{width:750px;min-height:50px;float:right;margin-bottom:125px;}
#left{width:210px;min-height:850px!important;float:left;font-family:Helvetica,Arial,Sans-serif;font-size:13px;color:#AAA;margin-top:175px;}
#mid-right-wrapper{width:750px!important;float:left!important;overflow:hidden;padding-top:70px;}
#content{min-height:250px;float:left;padding:0 25px 0 25px;z-index:90;position:relative}
#content.thin{width:500px}

	
	
	
	